{% extends 'AppEF/base.html' %}

{% load static %}

{% block title %} Inicio {% endblock title %}

{% block main %}


    <!-- Content section 1-->
    <section id="scroll">
        <div class="container px-5">
            <div class="align-items-center">
                <div class="col-lg-6 order-lg-1">
                    <div class="p-5">
                        <h2 class="display-4">Acerca de mí:</h2>
                        <p>Esta página está hecha por mí, Santiago Zboron, como entrega final para mi curso de python en Coderhouse. La idea es que sea posible hacer diversas cosas como, crear e iniciar sesión en cuentas, ver una lista de los posts existentes, y crear, editar, o borrar posts si la cuenta tiene los permisos necesarios.
                            Estoy escribiendo esta parte antes de hacer todo el resto así que veremos que tal sale :).
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock main %}


